---
import { Icon } from "astro-icon/components";

interface Props {
  name: string;
  ariaLabel: string;
  href: string;
}

const { name, ariaLabel, href } = Astro.props;
---

<a
  class="h-10 w-10 place-content-center place-items-center rounded-full shadow-up hover:shadow-down"
  href={href}
>
  <Icon class="h-6 w-6" name={name} aria-label={ariaLabel} />
</a>
