---
import { Icon } from "astro-icon/components";

interface Props {
  name: string;
  ariaLabel: string;
  href: string;
}

const { name, ariaLabel, href } = Astro.props;
---

<a
  class="flex size-10 items-center justify-center rounded-full shadow-up hover:shadow-down"
  href={href}
  target="_blank"
>
  <Icon class="size-6" name={name} aria-label={ariaLabel} />
</a>
