---
import Navigation from "../components/Navigation.astro";
import SnsIcon from "../components/SnsIcon.astro";
---

<footer class="mb-6 mt-10 grid w-full place-content-center gap-4">
  <Navigation />

  <div class="flex items-center justify-center gap-x-4">
    <SnsIcon
      name="ant-design:github-filled"
      ariaLabel="GitHubのアイコン。GitHubへのリンク。"
      href="https://github.com/t10o"
    />

    <SnsIcon
      name="ant-design:x-outlined"
      ariaLabel="Xのアイコン。Xへのリンク。"
      href="https://x.com/pizaehoumaki?s=21&t=USM6njIvsXulBnY22yfXDg"
    />
  </div>

  <small class="text-center">© 2025 t10o</small>
</footer>
