---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import "@fontsource-variable/noto-sans-jp";
---

<!doctype html>
<html
  lang="ja"
  class="bg-main text-font font-notoSansJp overflow-x-hidden overflow-y-scroll tracking-widest"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>plage</title>
  </head>

  <body class="m-0 leading-relaxed">
    <div class="relative">
      <div class="grid min-h-dvh grid-rows-[auto_1fr_auto] gap-y-36">
        <Header />

        <main>
          <slot />
        </main>

        <Footer />
      </div>
    </div>
  </body>
</html>
